= form_for @photo do |f|
  = img_tag @photo.image.thumb('100x100').url if @photo.image_stored?
  = f.label :image
  = f.file_field(:image, fileupload: "/photos/create" )
  = f.submit 'Save', class: 'btn btn-primary'
